extends ../../layouts/base
block content
  ul
    each post in posts
      li
        br
        a(href = "/#{post.url}") #{post.title}
    each page, pageNumber in pages
      if pageNumber === currentIndex
        span #{page.id}
      else
        a(href = "#{page.url}") #{page.id}
